# Ignore yarn 2 cache (not using zero-installs)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Ignore node_modules
node_modules
*/node_modules

# Ignore build dirs
dist
*/dist
